body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    height: 80%;
    width: 50%;
    border: solid green;
    display: flex;
    flex-direction: column;
    gap: 28px;
} 

.input-cont {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    gap: 5px;
}

#email:valid {
    border: solid green;
    border-radius: 5px;
    border-width: thin;
}

#email:invalid {
    border: solid red;
    border-radius: 5px;
    border-width: thin;
}

#email {
    border: solid black;
    border-radius: 5px;
    border-width: thin;
}

#country:valid {
    border: solid green;
    border-radius: 5px;
    border-width: thin;
}

#country:invalid {
    border: solid red;
    border-radius: 5px;
    border-width: thin;
}


#zipcode:valid {
    border: solid green;
    border-radius: 5px;
    border-width: thin;
}

#zipcode:invalid {
    border: solid red;
    border-radius: 5px;
    border-width: thin;
}

#password:valid {
    border: solid green;
    border-radius: 5px;
    border-width: thin;
}

#password:invalid {
    border: solid red;
    border-radius: 5px;
    border-width: thin;
}

#password-confirmation:valid {
    border: solid green;
    border-radius: 5px;
    border-width: thin;
}

#password-confirmation:invalid {
    border: solid red;
    border-radius: 5px;
    border-width: thin;
}